name: Auto Update

on:
    schedule:
        -   cron: '0 0 * * *'

defaults:
    run:
        shell: bash

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout
                uses: actions/checkout@v2
                with:
                    ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    coverage: 'none'
                    extensions: 'json,xml,xsl'
                    ini-values: 'memory_limit=-1'
                    php-version: '8.0'
                    tools: pecl

            -   name: Display versions
                run: |
                    php -r 'foreach (get_loaded_extensions() as $extension) echo $extension . " " . phpversion($extension) . PHP_EOL;'
                    php -i

            -   name: Validate composer.json
                run: composer validate --strict

            -   name: Cache Composer packages
                id: composer-cache
                uses: actions/cache@v2
                with:
                    path: vendor
                    key: 8.0-composer-${{ hashFiles('**/composer.lock') }}
                    restore-keys: |
                        8.0-composer-

            -   name: Install dependencies
                run: composer install --prefer-dist --no-progress

            -   name: Build files
                run: composer run-script build

            -   name: Get Feather version
                id: get-feather-version
                run: echo "::set-output name=feather-version::$(composer show npm-asset/feather-icons --format=json | jq '.versions[]')"

            -   name: Create Pull Request
                uses: peter-evans/create-pull-request@v3
                with:
                    commit-message: "Update resources from Feather ${{ steps.get-feather-version.outputs.feather-version }}"
                    branch: automated/feather-update
                    delete-branch: true
                    title: "[AUTO] Feather Update ${{ steps.get-feather-version.outputs.feather-version }}"
                    body: |
                        Updated resources built based on Feather ${{ steps.get-feather-version.outputs.feather-version }}.
                    labels: automated pr
                    assignees: |
                        Pixelrobin
                        natewiebe13

            -   name: Check outputs
                run: |
                    echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
                    echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
